.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

build
dist
project.lock.json
**/bin/*
**/obj/*

**/maw_certs/*

**/.svn/*

**/node_modules/*
**/typings/*

**/npm-debug.log
**/yarn-error.log

tools/*.log
hosting/.~lock.architecture.odg#

tests/MawMedia.Services.Tests/media-testing
*.dump

# python env for deployment
.ansible
.venv
